/* Suisse Intl */

@font-face {
  font-weight: 400;
  font-family: "Suisse Intl";
  font-style: normal;
  src: url("Suisse_Intl-400-normal.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Suisse Intl";
  font-style: italic;
  src: url("Suisse_Intl-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Suisse Intl";
  font-style: normal;
  src: url("Suisse_Intl-700-normal.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Suisse Intl";
  font-style: italic;
  src: url("Suisse_Intl-700-italic.woff2") format("woff2");
  font-display: swap;
}
