---
import { getCollection } from "astro:content"
import { format, formatISO } from "date-fns"
import PageHeader from "../../components/PageHeader.astro"
import Default from "../../layouts/Default.astro"

const allBlogPosts = await getCollection("blog")
---

<Default title="luc.li blog">
  <PageHeader title="Blog" />
  <section>
    {
      allBlogPosts.map(entry => (
        <a href={`/blog/${entry.slug}`}>
          <article>
            <h1>{entry.data.title}</h1>
            <time datetime={formatISO(entry.data.date)}>
              {format(entry.data.date, "d MMM yyyy")}
            </time>
          </article>
        </a>
      ))
    }
  </section>
</Default>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  article {
    display: flex;
    flex-direction: row;
    gap: 0 1ch;
  }

  h1 {
    margin: 0;
    font-size: 1em;
  }
</style>
