---
import { getCollection } from "astro:content"
import { format, formatISO } from "date-fns"
import PageHeader from "../../components/PageHeader.astro"
import Wrapper from "../../components/Wrapper.astro"
import Default from "../../layouts/Default.astro"
import group from "../../utils/group"

const allBlogPosts = await getCollection(
  "blog",
  ({ data }) => data.draft !== true || import.meta.env.DEV
)
const grouped = group(allBlogPosts, el => el.data.date.getFullYear().toString())
---

<Default meta={{ title: "blog" }}>
  <PageHeader title="Ramblings and reflections" />
  <Wrapper className={"posts"}>
    {
      Object.entries(grouped)
        .reverse()
        .map(([year, posts]) => (
          <Wrapper element={"section"} className={"group"}>
            <h1 class="group-title">{year}</h1>
            {posts
              .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
              .reverse()
              .map(entry => (
                <a href={`/blog/${entry.slug}`}>
                  <article>
                    <h1 class="article-title">{entry.data.title}</h1>
                    <time
                      class="article-meta"
                      datetime={formatISO(entry.data.date)}
                    >
                      {format(entry.data.date, "d MMM yyyy")}
                    </time>
                  </article>
                </a>
              ))}
          </Wrapper>
        ))
    }
  </Wrapper>
</Default>

<style lang="scss">
  .posts {
    grid-column: full;
  }

  section.group {
    grid-column: full;
    gap: 0;
  }

  article {
    display: flex;
    flex-direction: row;
    gap: 0 1ch;
  }

  h1.group-title {
    grid-column: wide-start;
    margin: 0;
    font-weight: 400;
    font-size: 1em;

    @media screen and (max-width: 50rem) {
      margin: 0 0 0.5rem 0;
    }
  }

  h1.article-title {
    grid-column: main;
    margin: 0;
    font-weight: 400;
    font-size: 1em;
  }

  .article-meta {
    color: var(--neutral-60);
  }

  a {
    justify-self: start;
  }
</style>
