---
import { getCollection } from "astro:content"
import { format, formatISO } from "date-fns"
import PageHeader from "../../components/PageHeader.astro"
import Wrapper from "../../components/Wrapper.astro"
import Default from "../../layouts/Default.astro"
import group from "../../utils/group"

const allBlogPosts = await getCollection(
  "blog",
  ({ data }) => data.draft !== true || import.meta.env.DEV
)
const grouped = group(allBlogPosts, el => el.data.date.getFullYear().toString())
---

<Default meta={{ title: "yklcs blog" }}>
  <!-- <PageHeader title="Ramblings and reflections" /> -->
  <Wrapper className={"groups"}>
    {
      Object.entries(grouped)
        .reverse()
        .map(([year, posts]) => (
          <Wrapper element={"section"} className={"group"}>
            <h1 class="group-title">{year}</h1>
            <div class="posts">
              {posts
                .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
                .reverse()
                .map(entry => (
                  <a href={`/blog/${entry.slug}`}>
                    <article>
                      <h1 class="article-title">{entry.data.title}</h1>
                      <div class="article-meta">
                        <time datetime={formatISO(entry.data.date)}>
                          {format(entry.data.date, "MMM d")}
                        </time>
                      </div>
                    </article>
                  </a>
                ))}
            </div>
          </Wrapper>
        ))
    }
  </Wrapper>
</Default>

<style lang="scss">
  .groups {
    grid-column: full;
    margin: 2rem 0;
  }

  section.group {
    grid-column: full;
  }

  .posts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }

  article {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

  h1.group-title {
    grid-column: l-side;
    margin: 0;
    color: var(--neutral-60);
    font-weight: 400;
    font-size: 1em;

    @media screen and (max-width: $bp) {
      margin: 0 0 0.5rem 0;
    }
  }

  h1.article-title {
    display: inline;
    grid-column: main;
    margin: 0;
    font-weight: 400;
    font-size: 1em;
  }

  .article-tags {
    // display: flex;
    // gap: 0.5ch;
  }

  .article-meta {
    display: flex;
    gap: 0.5ch;
    color: var(--neutral-60);
  }

  a {
    justify-self: start;
  }
</style>
