---
import { getCollection } from "astro:content"
import { format, formatISO } from "date-fns"
import PageHeader from "../../components/PageHeader.astro"
import Default from "../../layouts/Default.astro"
import group from "../../utils/group"

const allBlogPosts = await getCollection("blog")
const grouped = group(allBlogPosts, el => el.data.date.getFullYear().toString())
---

<Default title="luc.li blog">
  <PageHeader title="Blog" />
  <div>
    {
      Object.entries(grouped)
        .reverse()
        .map(([year, posts]) => (
          <section>
            <h1 class="group-title">{year}</h1>
            {posts.reverse().map(entry => (
              <a href={`/blog/${entry.slug}`}>
                <article>
                  <h1 class="article-title">{entry.data.title}</h1>
                  <time
                    class="article-meta"
                    datetime={formatISO(entry.data.date)}
                  >
                    {format(entry.data.date, "d MMM yyyy")}
                  </time>
                </article>
              </a>
            ))}
          </section>
        ))
    }
  </div>
</Default>

<style lang="scss">
  div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  article {
    display: flex;
    flex-direction: row;
    gap: 0 1ch;
  }

  h1.group-title {
    margin: 0 0 0.5rem 0;
    font-size: 1em;
  }

  h1.article-title {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
  }

  .article-meta {
    color: var(--neutral-60);
  }
</style>
