---
import { getCollection } from "astro:content"
import { format } from "date-fns"
import PageTitle from "../../components/PageTitle.astro"
import Default from "../../layouts/Default.astro"

const allBlogPosts = await getCollection("blog")
---

<Default title="luc.li blog">
  <PageTitle title="Blog" />
  <div>
    {
      allBlogPosts.map(entry => (
        <a href={`/blog/${entry.slug}`}>
          <h2>{entry.data.title}</h2>
          <time>{format(entry.data.date, "d MMM yyyy")}</time>
        </a>
      ))
    }
  </div>
</Default>

<style>
  a {
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }
</style>
