---
import { getCollection } from "astro:content"
import { format } from "date-fns"
import Html from "../../layouts/Html.astro"

const allBlogPosts = await getCollection("blog")
---

<Html title="luc.li blog">
  <h1>Blog</h1>
  <div>
    {
      allBlogPosts.map(entry => (
        <a href={`/blog/${entry.slug}`}>
          <h2>{entry.data.title}</h2>
          <time>{format(entry.data.date, "d MMM yyyy")}</time>
        </a>
      ))
    }
  </div>
</Html>

<style>
  a {
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }
</style>
