:root {
  --font-sans: "Yklcs Asterism", "Diatype", -apple-system, system-ui,
    "Helvetica Neue", Helvetica;
  --font-mono: "IBM Plex Mono", Menlo, monospace;
  --font-serif: "Yklcs Asterism", "Charis SIL", Georgia, Palatino, serif;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/closed/Diatype-400-normal.woff2") format("woff2");
  font-family: "Diatype";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/closed/Diatype-400-italic.woff2") format("woff2");
  font-family: "Diatype";
  font-display: swap;
}

/* IBMPlexMono */

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open/IBMPlexMono-400-normal.woff2") format("woff2");
  font-family: "IBM Plex Mono";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/open/IBMPlexMono-400-italic.woff2") format("woff2");
  font-family: "IBM Plex Mono";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/open/IBMPlexMono-700-normal.woff2") format("woff2");
  font-family: "IBM Plex Mono";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/open/IBMPlexMono-700-italic.woff2") format("woff2");
  font-family: "IBM Plex Mono";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open/CharisSIL-400-normal.woff2") format("woff2");
  font-family: "Charis SIL";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/open/CharisSIL-400-italic.woff2") format("woff2");
  font-family: "Charis SIL";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/open/CharisSIL-700-normal.woff2") format("woff2");
  font-family: "Charis SIL";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/open/CharisSIL-700-italic.woff2") format("woff2");
  font-family: "Charis SIL";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open/Asterism-400-normal.woff2") format("woff2");
  font-family: "Yklcs Asterism";
  font-display: swap;
  unicode-range: U+2042;
}
