/* Suisse Int'l */

:root {
  --font-sans: "Suisse Int'l", -apple-system, system-ui, "Helvetica Neue",
    Helvetica, sans-serif;
  --font-mono: Iosevka, Menlo, monospace;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/closed/Suisse_Int'l-400-normal.woff2") format("woff2");
  font-family: "Suisse Int'l";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/closed/Suisse_Int'l-400-italic.woff2") format("woff2");
  font-family: "Suisse Int'l";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/closed/Suisse_Int'l-500-normal.woff2") format("woff2");
  font-family: "Suisse Int'l";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/closed/Suisse_Int'l-500-italic.woff2") format("woff2");
  font-family: "Suisse Int'l";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/closed/Suisse_Int'l-600-normal.woff2") format("woff2");
  font-family: "Suisse Int'l";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/closed/Suisse_Int'l-600-italic.woff2") format("woff2");
  font-family: "Suisse Int'l";
  font-display: swap;
}

/* @font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/closed/Suisse_Int'l-700-normal.woff2") format("woff2");
  font-family: "Suisse Int'l";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/closed/Suisse_Int'l-700-italic.woff2") format("woff2");
  font-family: "Suisse Int'l";
  font-display: swap;
} */

/* Iosevka */

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open/Iosevka-400-normal.woff2") format("woff2");
  font-family: "Iosevka";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/open/Iosevka-400-italic.woff2") format("woff2");
  font-family: "Iosevka";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/open/Iosevka-700-normal.woff2") format("woff2");
  font-family: "Iosevka";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/open/Iosevka-700-italic.woff2") format("woff2");
  font-family: "Iosevka";
  font-display: swap;
}
