@font-face {
  font-weight: 400;
  font-family: "Apple Garamond";
  font-style: normal;
  src: url("AppleGaramond-400-normal.woff2") format("woff2"),
    url("AppleGaramond-400-normal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Apple Garamond";
  font-style: italic;
  src: url("AppleGaramond-400-italic.woff2") format("woff2"),
    url("AppleGaramond-400-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Inter";
  font-style: normal;
  src: url("Inter-400-normal.woff2") format("woff2"),
    url("Inter-400-normal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Inter";
  font-style: italic;
  src: url("Inter-400-italic.woff2") format("woff2"),
    url("Inter-400-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Inter";
  font-style: normal;
  src: url("Inter-700-normal.woff2") format("woff2"),
    url("Inter-700-normal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Inter";
  font-style: italic;
  src: url("Inter-700-italic.woff2") format("woff2"),
    url("Inter-700-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Inter";
  font-style: normal;
  src: url("Inter-700-normal.woff2") format("woff2"),
    url("Inter-700-normal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "XCharter";
  font-style: normal;
  src: url("XCharter-400-normal.woff2") format("woff2"),
    url("XCharter-400-normal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "XCharter";
  font-style: italic;
  src: url("XCharter-400-italic.woff2") format("woff2"),
    url("XCharter-400-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "XCharter";
  font-style: italic;
  src: url("XCharter-700-italic.woff2") format("woff2"),
    url("XCharter-700-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Inter";
  font-style: normal;
  src: url("XCharter-700-normal.woff2") format("woff2"),
    url("XCharter-700-normal.woff") format("woff");
  font-display: swap;
}
