@font-face {
  font-family: "Apple Garamond";
  font-weight: 400;
  font-style: normal;
  src: url("AppleGaramond-400-normal.woff2") format("woff2"),
    url("AppleGaramond-400-normal.woff") format("woff");
}

@font-face {
  font-family: "Apple Garamond";
  font-weight: 400;
  font-style: italic;
  src: url("AppleGaramond-400-italic.woff2") format("woff2"),
    url("AppleGaramond-400-italic.woff") format("woff");
}
