---
import Default from "../layouts/Default.astro"
---

<Default meta={{ title: "yklcs.com" }}>
  <div class="error">
    <h2 class="code">HTTP 404.</h2>
    <p class="message">The page you requested was not found.</p>
    <a class="home" href="/"
      >Head to <span class="url">{Astro.site?.host}</span>.</a
    >
  </div>
</Default>

<style>
  .error {
    margin: 1rem 0;
  }

  .code {
    margin: 0;
    font-size: 1em;
  }

  .message {
    margin: 0;
  }

  .home {
    display: inline-block;
    margin: 0.5rem 0;
  }

  .url {
    text-decoration: underline;
  }
</style>
