---
import Default from "../layouts/Default.astro"
---

<Default title="luc.li">
  <p class="bio">
    Lucas Yunkyu Lee is a student at POSTECH with interests in research,
    development, and design.
    <span class="sub"
      >Currently performing military service under the KATUSA program, MOS 11B.
    </span>
  </p>
  <div class="links">
    <a href="mailto:me@luc.li">Send mail →</a>
    <a href="/blog">Read blog →</a>
    <a href="https://github.com/yklcs">View code →</a>
  </div>
</Default>

<style>
  p.bio {
    grid-column: wide-start / main-end;
    margin: 3rem 0 1rem;
    font-size: 1.4em;
    line-height: 1.4;
    hyphens: none;
  }

  .links {
    display: flex;
    grid-column: wide;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1em;
  }

  .sub {
    color: var(--neutral-60);
  }
</style>
