---
import Default from "../layouts/Default.astro"
---

<Default meta={{ title: "yklcs.com" }}>
  <p class="bio">
    Lucas Yunkyu Lee is a student at POSTECH with interests in research,
    development, and design. Currently performing military service in the KATUSA
    program, MOS 11B.
  </p>
  <p class="bio-sub" id="ets-counter-container">
    <span id="ets-counter"></span>
  </p>
  <h2 class="section-header">Links</h2>
  <div class:list={["section", "links"]}>
    <span>
      <a href="mailto:lucas@yklcs.com">Mail</a>
      <span class="sub">lucas@yklcs.com</span>
    </span>
    <span>
      <a href="/blog">Blog</a>
      <span class="sub">yklcs.com/blog</span>
    </span>
    <span>
      <a href="https://github.com/yklcs">Github</a>
      <span class="sub">yklcs</span>
    </span>
    <span>
      <a href="/photos">Photos</a>
      <span class="sub">yklcs.com/photos</span>
    </span>
    <span>
      <a href="/coverflow">Coverflow</a>
      <span class="sub">yklcs.com/coverflow</span>
    </span>
  </div>
  <h2 class="section-header">Projects</h2>
  <div class:list={["section", "projects"]}>
    <div class="project">
      <a href="https://github.com/yklcs/cram">
        <h3 class="project-title">Cram</h3>
      </a>
      <span class="project-desc">
        WASM powered universal image compression that works on any device
      </span>
    </div>
    <div class="project">
      <h3 class="project-title">Panchro</h3>
      <span class="project-desc">
        Static site generator for self-hosted image galleries
      </span>
    </div>
    <div class="project">
      <a href="https://github.com/yklcs/lisp-roots">
        <h3 class="project-title">lisp-roots</h3>
      </a>
      <span class="project-desc"> The roots of Lisp in Rust</span>
    </div>
  </div>
</Default>

<style lang="scss">
  .bio,
  .links,
  .projects {
    /* font-size: 1.25em; */
    line-height: 1.4;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: start;

    .project-title {
      margin: 0;
      font-weight: 400;
      font-size: 1em;
    }

    .project-desc {
      color: var(--neutral-60);
    }
  }

  .bio {
    grid-column: wide-start / main-end;
    margin: 1rem 0 0;
    hyphens: none;
  }

  .bio-sub {
    grid-column: wide-start / main-end;
    margin: -1rem 0 0;
  }

  .section-header {
    grid-column: wide-start;
    margin: 0.5rem 0 0;
    font-weight: 400;
    font-size: 1em;
  }

  .section {
    margin: 0.5rem 0 0;

    @media screen and (max-width: 70rem) {
      margin: 0;
    }
  }

  #ets-counter {
    pointer-events: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .sub {
    color: var(--neutral-60);
  }
</style>

<script>
  const el = document.querySelector("#ets-counter")!
  const container = document.querySelector("#ets-counter-container")!
  const now = new Date()
  const ets = new Date("2024-03-18")
  let diff = Math.abs(ets.valueOf() - now.valueOf())

  const before = document.createElement("span")
  const dot = document.createTextNode("")
  const after = document.createElement("span")
  const desc = document.createElement("span")

  before.style.fontVariantNumeric = "tabular-nums"
  after.style.fontVariantNumeric = "tabular-nums"
  desc.textContent = " days to ETS."

  el.appendChild(before)
  el.appendChild(dot)
  el.appendChild(after)
  el.appendChild(desc)

  let paused = false
  container.addEventListener("click", () => {
    paused = !paused
  })

  const lowMotion = window.matchMedia("(prefers-reduced-motion)").matches

  let time_prev: number
  const step: FrameRequestCallback = time => {
    if (time_prev === undefined) {
      time_prev = time
    }
    const delta = time - time_prev

    diff -= delta
    const afterDecimal = lowMotion || paused

    const diffDay = diff / 1000 / 60 / 60 / 24
    before.textContent = Math.floor(diffDay).toString()
    dot.textContent = afterDecimal ? "" : "."
    after.textContent = afterDecimal
      ? ""
      : Number(diffDay).toFixed(7).split(".")[1]

    time_prev = time
    window.requestAnimationFrame(step)
  }

  window.requestAnimationFrame(step)
</script>
