---
import Default from "../layouts/Default.astro"
---

<Default title="yklcs.com">
  <p class="bio">
    Lucas Yunkyu Lee is a student at POSTECH with interests in research,
    development, and design. Currently performing military service in the KATUSA
    program, MOS 11B.
  </p>
  <p class="bio-sub" id="ets-counter-container">
    <span id="ets-counter"></span>
  </p>
  <span style="grid-column: wide-start;">Links</span>
  <div class="links">
    <span>
      <a href="mailto:lee@yklcs.com">Mail</a>
      <span class="sub">lee@yklcs.com</span>
    </span>
    <span>
      <a href="/blog">Blog</a>
      <span class="sub">yklcs.com/blog</span>
    </span>
    <span>
      <a href="/photos">Photos</a>
      <span class="sub">yklcs.com/photos</span>
    </span>
    <span>
      <a href="https://github.com/yklcs">Github</a>
      <span class="sub">yklcs</span>
    </span>
  </div>
  <span style="grid-column: wide-start;"> Projects</span>
  <div class="projects">
    <div style="display: flex; flex-direction: column;">
      <span>Cram</span>
      <span style="color: var(--neutral-60);">
        WASM powered universal image compression that works on any device
      </span>
    </div>
    <div style="display: flex; flex-direction: column;">
      <span>Panchro</span>
      <span style="color: var(--neutral-60);">
        Static site generator for self-hosted image galleries
      </span>
    </div>
  </div>
</Default>

<style>
  .bio,
  .links,
  .projects {
    /* font-size: 1.25em; */
    line-height: 1.4;
  }

  .bio {
    grid-column: wide-start / main-end;
    margin: 1rem 0 0;
    hyphens: none;
  }

  .bio-sub {
    grid-column: wide-start / main-end;
    margin: -1rem 0 1rem 0;
  }

  #ets-counter {
    pointer-events: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .sub {
    color: var(--neutral-60);
  }
</style>

<script>
  const el = document.querySelector("#ets-counter")!
  const container = document.querySelector("#ets-counter-container")!
  const now = new Date()
  const ets = new Date("2024-03-18")
  let diff = Math.abs(ets.valueOf() - now.valueOf())

  let paused = false
  container.addEventListener("click", () => {
    paused = !paused
  })

  let time_prev: number
  const step: FrameRequestCallback = time => {
    if (time_prev === undefined) {
      time_prev = time
    }
    const delta = time - time_prev

    diff -= delta
    const lowMotion =
      window.matchMedia("(prefers-reduced-motion)").matches || paused
    el.innerHTML = lowMotion
      ? `${Number(diff / 1000 / 60 / 60 / 24).toFixed(0)} days to ETS.`
      : `${Number(diff / 1000 / 60 / 60 / 24).toFixed(7)} days to ETS.`
          .split(".")
          .map(
            t => `<span style="font-variant-numeric: tabular-nums;">${t}</span>`
          )
          .join(".")

    time_prev = time
    window.requestAnimationFrame(step)
  }

  window.requestAnimationFrame(step)
</script>
