---
import Default from "../layouts/Default.astro"
---

<Default title="yklcs.com">
  <p class="bio">
    Lucas Yunkyu Lee is a student at POSTECH with interests in research,
    development, and design.
    <span class="sub"
      >Currently performing military service in the KATUSA program, MOS 11B.
    </span>
  </p>
  <div class="links">
    <span>
      <a href="mailto:me@yklcs.com">Contact<sup>↗</sup></a>
      <span class="sub">me@yklcs.com</span>
    </span>
    <span>
      <a href="/blog">Blog<sup>↗</sup></a>
      <span class="sub">yklcs.com/blog</span>
    </span>
    <span>
      <a href="https://github.com/yklcs">Github<sup>↗</sup></a>
      <span class="sub">yklcs</span>
    </span>
  </div>
</Default>

<style>
  .bio,
  .links {
    font-size: 1.25em;
    line-height: 1.4;
  }

  .bio {
    grid-column: wide-start / main-end;
    margin: 3rem 0 0;
    hyphens: none;
  }

  .links {
    display: flex;
    grid-column: wide;
    flex-direction: column;
    align-items: flex-start;
  }

  .sub {
    color: var(--neutral-60);
  }
</style>
