---
import Default from "../layouts/Default.astro"
---

<Default title="luc.li">
  <p>
    Lucas Yunkyu Lee is a student at POSTECH with interests in research,
    development, and design. Currently performing military service under the
    KATUSA program, MOS 11B.
  </p>
  <div class="links">
    <a href="mailto:me@luc.li">Send mail →</a>
    <a href="/blog">Read blog →</a>
    <a href="https://github.com/yklcs">View code →</a>
  </div>
</Default>

<style>
  p {
    margin: 2rem 0 1rem;
    font-size: 1.25em;
    line-height: 1.4;
    hyphens: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>
