---
import Default from "../layouts/Default.astro"
---

<Default title="luc.li">
  <p class="bio">
    Lucas Yunkyu Lee is a student at POSTECH with interests in research,
    development, and design.
    <span class="sub"
      >Currently performing military service in the KATUSA program, MOS 11B.
    </span>
  </p>
  <div class="links">
    <span>
      <span class="sub">Send</span>
      <a href="mailto:me@luc.li">mail<sup>↗</sup></a>
    </span>
    <span>
      <span class="sub">Browse</span>
      <a href="/blog">blog<sup>↗</sup></a>
    </span>
    <span>
      <span class="sub">Grok</span>
      <a href="https://github.com/yklcs">code<sup>↗</sup></a>
    </span>
  </div>
</Default>

<style>
  p.bio,
  .links {
    font-size: 1.25em;
    line-height: 1.4;
  }

  p.bio {
    grid-column: wide-start / main-end;
    margin: 3rem 0 0;
    hyphens: none;
  }

  .links {
    display: flex;
    grid-column: wide;
    flex-direction: column;
    align-items: flex-start;
  }

  .sub {
    color: var(--neutral-60);
  }
</style>
