---
import Default from "../layouts/Default.astro"
---

<Default title="luc.li">
  <p class="bio">
    Lucas Yunkyu Lee is a student at POSTECH with interests in research,
    development, and design.
    <span class="sub"
      >Currently performing military service under the KATUSA program, MOS 11B.
    </span>
  </p>
  <div class="links">
    <a href="mailto:me@luc.li">Send mail →</a>
    <a href="/blog">Read blog →</a>
    <a href="https://github.com/yklcs">View code →</a>
  </div>
</Default>

<style>
  p.bio {
    margin: 2rem 0 0;
    font-size: 1.1em;
    hyphens: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sub {
    color: var(--neutral-60);
  }
</style>
