---
import { readFileSync } from "fs"
import Wrapper from "./Wrapper.astro"

const built = new Date().toISOString()
const commit = readFileSync(".git/refs/heads/main").toString()
---

<Wrapper className={"footer-wrapper"}>
  <footer>
    <div class="links">
      <div>
        <a href="/blog">Blog</a>
        <a href="/photos">Photos</a>
        <a href="/colophon">Colophon</a>
      </div>
      <div>
        <a href="/" class="home">⁂</a>
      </div>
    </div>
    <div class="info">
      <span>Built <time datetime={built} class="built"></time></span>
      <span>
        Commit
        <a
          href=`https://github.com/yklcs/yklcs.com/tree/${commit}`
          class="commit"
        >
          #{commit.slice(0, 7)}</a
        >
      </span>
    </div>
  </footer>
</Wrapper>

<script>
  import { addDays, addMinutes, formatDistance } from "date-fns"
  const el = document.body.querySelector("time.built") as HTMLTimeElement
  const built = new Date(el.dateTime)
  const now = new Date()
  el.innerHTML = formatDistance(built, now, { addSuffix: true })
</script>

<style lang="scss">
  .footer-wrapper {
    margin: 4.5rem 0 1.5rem;
  }

  footer {
    display: flex;
    grid-column: wide;
    flex-direction: column;
    gap: 1.25rem;
    border: none;
    border-top: 1px solid;
    border-color: var(--neutral-10);
    padding: 1rem 0;
    color: var(--neutral-60);
    font-size: 0.9em;
  }

  .links,
  .info {
    display: flex;
    grid-column: wide;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .links {
    align-items: center;
    div {
      display: flex;
      flex-direction: row;
      gap: 1ch;
    }

    a.home {
      font-size: 1.2rem;
    }
  }

  .info {
    font-size: 0.9em;

    a.commit {
      text-decoration: underline;
    }
  }
</style>
