---
import Wrapper from "./Wrapper.astro"

const url = Astro.url
---

<Wrapper className={"wrapper"}>
  <header>
    <a href="/" class="breadcrumb-home">
      <span>⁂</span>
    </a>
    {
      url.pathname == "/" ? (
        <h1 class="index-name">Lucas Yunkyu Lee</h1>
      ) : (
        <div class="breadcrumbs">
          {url.pathname
            .split("/")
            .filter(str => str)
            .map((elm, idx, arr) => (
              <div class="breadcrumb-group">
                {<span class="breadcrumb-separator">⁄</span>}
                <a
                  href={`/${arr.slice(0, idx + 1).join("/")}`}
                  class="breadcrumb-link"
                >
                  {elm}
                </a>
              </div>
            ))}
        </div>
      )
    }
  </header>
</Wrapper>

<style lang="scss">
  header {
    display: contents;
    line-height: 1.1;
    @media screen and (max-width: 60rem) {
      display: flex;
      align-items: flex-start;
    }
  }

  .index-name {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    @media screen and (max-width: 60rem) {
      display: none;
    }
  }

  a.breadcrumb-home {
    display: flex;
    grid-column: wide-start;
    align-items: center;
    height: 1.1rem;
    line-height: 1;
    span {
      font-size: 1.2rem;
    }
  }

  .breadcrumbs {
    display: flex;
    grid-column: main;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem 1ch;
    margin: 0 1ch;

    .breadcrumb-group {
      display: flex;
      gap: 0 1ch;
    }

    .breadcrumb-separator {
      color: var(--neutral-60);
      font-weight: 400;
    }
  }
</style>
