---
const url = Astro.url
---

<header>
  <a href="/">luc.li</a>
  {
    url.pathname
      .split("/")
      .filter(str => str)
      .map((elm, idx, arr) => (
        <>
          {<span class="breadcrumb-child">/</span>}
          <a
            href={`/${arr.slice(0, idx + 1).join("/")}`}
            class="breadcrumb-child"
          >
            {elm}
          </a>
        </>
      ))
  }
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    gap: 0 0.5ch;
    font-weight: 700;
  }

  .breadcrumb-child {
    color: var(--neutral-70);
  }
</style>
