---
interface Props {
  title: string
}

const { title } = Astro.props
---

<div>
  <h1>{title}</h1>
  <slot />
</div>

<style>
  h1 {
    margin: 0;
    font-weight: 400;
    font-size: 1.75em;
    line-height: 1.5;
  }

  div {
    margin: 1.5rem 0;
  }
</style>
