---
interface Props {
  title: string
  className?: string
}

const { title, className, ...rest } = Astro.props
---

<div class={className} {...rest}>
  <h1>{title}</h1>
  <slot />
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1.5rem 0;
    font-family: var(--font-sans) !important;
  }

  h1 {
    margin: 0;
    font-weight: 400;
    font-size: 1.75em;
    line-height: 1.3;
  }
</style>
