/* XCharter */

@font-face {
  font-weight: 400;
  font-family: "XCharter";
  font-style: normal;
  src: url("XCharter-400-normal.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "XCharter";
  font-style: italic;
  src: url("XCharter-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "XCharter";
  font-style: normal;
  src: url("XCharter-700-normal.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "XCharter";
  font-style: italic;
  src: url("XCharter-700-italic.woff2") format("woff2");
  font-display: swap;
}

/* Iosevka */

@font-face {
  font-weight: 400;
  font-family: "Iosevka";
  font-style: normal;
  src: url("Iosevka-400-normal.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Iosevka";
  font-style: italic;
  src: url("Iosevka-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Iosevka";
  font-style: normal;
  src: url("Iosevka-400-normal.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Iosevka";
  font-style: italic;
  src: url("Iosevka-400-italic.woff2") format("woff2");
  font-display: swap;
}

/* Iosevka LL */

@font-face {
  font-weight: 400;
  font-family: "Iosevka LL";
  font-style: normal;
  src: url("iosevka-ll-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Iosevka LL";
  font-style: italic;
  src: url("iosevka-ll-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Iosevka LL";
  font-style: normal;
  src: url("iosevka-ll-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Iosevka LL";
  font-style: italic;
  src: url("iosevka-ll-bolditalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Basier Square";
  font-style: normal;
  src: url("basiersquare-regular-webfont.woff2") format("woff2");
  font-display: swap;
}