---
import Header from "../components/Header.astro"
import Layout from "../components/Layout.astro"
import "../styles/global.css"
import "../styles/fonts.css"
import colors from "../styles/colors"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <body>
    <Layout>
      <Header />
      <slot />
    </Layout>
  </body>
</html>
<style is:global define:vars={colors}>
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-size: clamp(18px, 2vw, 24px); /* 900-1200px */
    line-height: 1.75;
    font-family: system-ui, sans-serif;
  }

  body {
    margin: 0;
  }
</style>
