---
import Html from "./Html.astro"
import Header from "../components/Header.astro"
import Wrapper from "../components/Wrapper.astro"
import type { CollectionEntry } from "astro:content"
import PageHeader from "../components/PageHeader.astro"
import { format, formatISO } from "date-fns"
import Footer from "../components/Footer.astro"
import FlexSpacer from "../components/FlexSpacer.astro"

export interface Props {
  entry: CollectionEntry<"blog">
}

const { entry } = Astro.props
---

<Html title={entry.data.title}>
  <Header />
  <main>
    <Wrapper element="article">
      <PageHeader title={entry.data.title}>
        <time datetime={formatISO(entry.data.date)}
          >{format(entry.data.date, "MMM dd yyyy")}</time
        >
      </PageHeader>
      <slot />
    </Wrapper>
  </main>
  <FlexSpacer />
  <Footer />
</Html>

<style is:global lang="scss">
  article {
    & > p {
      max-width: 52ch;
    }

    time {
      color: var(--neutral-60);
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0.5rem 0 -0.25rem 0;
      font-weight: 400;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.2em;
    }

    h4,
    h5,
    h6 {
      font-size: 1em;
    }
  }
</style>
